*
!.cache/test_certs
!fb/config/

!third_party/

!modules/
!lib/
!gateway/

!devmand/cloud/
!devmand/gateway/
!devmand/protos/

!fb/src/dpi/

!orc8r/cloud/configs/
!orc8r/cloud/go/
!orc8r/cloud/deploy/roles/proxy/files
!orc8r/cloud/docker/
!orc8r/cloud/scripts/
!orc8r/cloud/Makefile
!orc8r/swagger/
!orc8r/tools/ansible/roles/gateway_services/files
!orc8r/tools/ansible/roles/pkgrepo/files
!orc8r/tools/ansible/roles/pkgrepo/tasks
!orc8r/tools/ansible/roles/fluent_bit/files
!orc8r/tools/docker/

!protos/
